<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">

    <title>Products</title>
</head>
<body>
<div class="content" >
    <div class="menuStyle" >
        <a th:href="@{/employees}">Employees</a>
        <a th:href="@{/product_groups}">Product Groups </a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/buyers}" >Buyers</a>
        <a th:href="@{/sales}" >Sales</a>
    </div>

    <div class="main">
        <h1 class="title">Products</h1>
        <table class="table" style ="width: 80%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name Product</th>
                <th>Product Group</th>
                <th>Price</th>
            </tr>
            </thead>

            <tbody>
                <span th:utext="${productsData}"></span>
            </tbody>
        </table>
    </div>
</div>

<div class="divTable">
    <div class="divTableRow">
        <div class="divTableCell">
            <h1 style="font-size: 20px;">Add</h1>
            <form th:action="@{/addFormProducts}" th:object="${productsForm}"  method = "POST" align = center>
                <br>       <input type="text" size="30" placeholder="ID" th:field="*{id}" /> <br>
                <br>       <input type="text" size="30" placeholder="Name Product" th:field="*{name}" /> <br>
                <br>       <input type="text" size="30" placeholder="Group ID" th:field="*{groupId}" /> <br>
                <br>       <input type="text" size="30" placeholder="Price" th:field="*{price}" /> <br>
                <br>
                <input type="submit" value="ADD" style="background-color: #55efc4; color: #2d3436; border-color: #55efc4">
                <span th:utext="${message}"></span>
            </form>
        </div>

        <div class="divTableCell">
            <h1 style="font-size: 20px;">Update</h1>
            <form  th:action="@{/updateFormProducts}" th:object="${productsForm}"  method = "POST" align = center>
                <br>       <input type="text" size="30" placeholder="ID" th:field="*{id}" /> <br>
                <br>       <input type="text" size="30" placeholder="Name Group" th:field="*{name}" /> <br>
                <br>       <input type="text" size="30" placeholder="Group ID" th:field="*{groupId}" /> <br>
                <br>       <input type="text" size="30" placeholder="Price" th:field="*{price}" /> <br>
                <br>
                <input type="submit"  value="UPDATE" style="background-color: #fdcb6e; color: #2d3436; border-color: #fdcb6e">
            </form>
        </div>

        <div class="divTableCell">
            <h1 style="font-size: 20px;">Delete</h1>
            <form  th:action="@{/deleteFormProducts}" th:object="${productsForm}"  method = "POST" align = center>
                <br><br><br><br>
                <input type="text" size="30" placeholder="ID" th:field="*{id}"> <br>
                <br><br><br><br>
                <input type="submit" name="submit" value="DELETE" style="background-color: #d63031; color: #2d3436; border-color: #d63031">
            </form>

        </div>
    </div>

</div>
</body>

</html>